@tailwind base;
@tailwind components;
@tailwind utilities;

.form-cont
::before
{
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  z-index: -2;
  background: yellow;

}
