<!-- manage-users.component.html -->
<div class="md:p-6 bg-gray-100">
  <h2 class="text-2xl font-bold mb-4">Manage Users</h2>
 <div class="flex justify-between flex-wrap">
  <button pButton type="button" label="Add User" icon="pi pi-plus" class="mb-4 bg-green-500 py-2 px-6 text-white md:w-[200px]  xs:text-xs md:text-base xs:w-[190px]" (click)="showAddUserPopup()"></button>
  <button pButton type="button" label="Delete Selected Users" icon="pi pi-trash" class="mb-4 bg-red-500 py-2 px-6 text-white md:w-[200px]  xs:text-xs md:text-base xs:w-[190px]" [disabled]="!anyUserSelected()" (click)="deleteSelectedUsers()"></button>
  <button pButton type="button" label="Import Users from CSV" icon="pi pi-file-import" class="mb-4 bg-blue-500 py-2 px-6 text-white md:w-[200px]  xs:text-xs md:text-base xs:w-[190px]" (click)="importUsersFromCSV()"></button>
  <button pButton type="button" label="Export Users to CSV" icon="pi pi-file-export" class="mb-4 bg-blue-500 py-2 px-6 text-white md:w-[200px]  xs:text-xs md:text-base xs:w-[190px]" (click)="exportUsersToCSV()"></button>
 </div>

  <p-table [value]="users" selectionMode="multiple" [(selection)]="selectedUsers" dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th pSelectableColumn></th>
        <th pSortableColumn="userName">User Name<p-sortIcon field="userName"></p-sortIcon></th>
        <th pSortableColumn="email">Email<p-sortIcon field="email"></p-sortIcon></th>
        <th pSortableColumn="isAdmin">Is Admin<p-sortIcon field="isAdmin"></p-sortIcon></th>
        <th pSortableColumn="noOfTasks">No of Tasks<p-sortIcon field="noOfTasks"></p-sortIcon></th>
        <th></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-user>
      <tr [pSelectableRow]="user" class="">
        <td pSelectableColumn></td>
        <td>{{user.userName}}</td>
        <td>{{user.email}}</td>
        <td>{{user.isAdmin}}</td>
        <td>{{user.noOfTasks}}</td>
        <td>
          <button pButton type="button" icon="pi pi-plus" class="bg-blue-500 py-2 px-4 text-white" (click)="showAddTaskPopup(user)"></button>
        </td>
        <td>
          <button pButton type="button" icon="pi pi-minus" class="bg-red-500 py-2 px-4 text-white" (click)="showRemoveTaskPopup(user)"></button>
        </td>
      </tr>
    </ng-template>
  </p-table>

  <app-add-user-popup [(visible)]="isAddUserPopupVisible" (userAdded)="onUserAdded($event)"></app-add-user-popup>
  <app-add-task-popup [(visible)]="isAddTaskPopupVisible" [user]="selectedUser" (taskAdded)="onTaskAdded()"></app-add-task-popup>
  <app-remove-task-popup [(visible)]="isRemoveTaskPopupVisible" [user]="selectedUser" (taskRemoved)="onTaskRemoved()"></app-remove-task-popup>
</div>
