<div class="p-6 bg-gray-100">
  <h2 class="text-2xl font-bold mb-4">Manage Tasks</h2>
  <div class="flex gap-4">
    <button pButton label="Create Task" class="mb-4 bg-green-500 py-2 px-6 text-white" icon="pi pi-plus" (click)="showCreateTaskDialog()"></button>
    <button pButton type="button" label="Delete Selected Tasks" icon="pi pi-trash" class="mb-4 bg-red-500 py-2 px-6 text-white" [disabled]="!anyTaskSelected()" (click)="deleteSelectedTasks()"></button>
    <button pButton type="button" label="Import Tasks from CSV" icon="pi pi-file-import" class="mb-4 bg-blue-500 py-2 px-6 text-white" (click)="importTasksFromCSV()"></button>
    <button pButton type="button" label="Export Tasks to CSV" icon="pi pi-file-export" class="mb-4 bg-blue-500 py-2 px-6 text-white" (click)="exportTasksToCSV()"></button>
  </div>

  <p-table [value]="tasks" selectionMode="multiple" [(selection)]="selectedTasks" dataKey="id">
    <ng-template pTemplate="header">
      <tr>
        <th pSelectableColumn></th>
        <th pSortableColumn="name">Task Name<p-sortIcon field="name"></p-sortIcon></th>
        <th pSortableColumn="description">Task Description<p-sortIcon field="description"></p-sortIcon></th>
        <th pSortableColumn="userIds.length">No of Users<p-sortIcon field="userIds.length"></p-sortIcon></th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-task>
      <tr [pSelectableRow]="task">
        <td pSelectableColumn></td>
        <td>{{task.name}}</td>
        <td>{{task.description}}</td>
        <td>{{task.userIds.length}}</td>
        <td>
          <!-- Additional action buttons if needed -->
        </td>
      </tr>
    </ng-template>
  </p-table>

  <!-- Conditionally show CreateTaskComponent -->
  <app-create-task [display]="displayCreateTaskDialog" (hide)="hideCreateTaskDialog()"></app-create-task>
</div>
